# Raw images and large archives (dataset licensing means raw images shouldn't be redistributed)
data/amharic_base34/
data/amharic_all/
data/raw_rar/
data/238class/

# Python
__pycache__/
*.pyc
venv/
.venv/

# OS
.DS_Store

